@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;1,600&family=Courier+Prime:wght@700&display=swap');

.main-container-all-scales {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  width: 110px;
  height: 367px;
  margin-top: 20px;
}

.title-feeling-top {
  margin-top: 22px;
  font-size: 8px;
  font-family: 'Courier New';
  font-weight: 600;
}
.title-feeling-bottom {
  margin-top: 6px;
  font-size: 8px;
  font-family: 'Courier New';
  font-weight: bold;
}

.feeling-description {
  height: 18px;
  margin-bottom: 2px;
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}
.feeling-description-down {
  height: 18px;
  margin-bottom: 9.8px;
  margin-top: 2px;
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}

.scale-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 19px;
  position: relative;
  width: 40px;
  height: 173px;
}

.scale-body::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: -20px;
  margin-left: 10px;
  border-width: 10px 10px 0;
  border: transparent black;
  border-bottom: none;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 15px solid var(--color);
}

.scale-body::after {
  content: ' ';
  position: absolute;
  top: -15px;
  margin-left: 10px;
  left: -20px;
  border: transparent black;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 15px solid var(--color);
}

.benchmark {
  width: 100%;
  height: 1px;
  background-color: azure;
  margin-bottom: -1px;
  z-index: 20;
}

.result-rhombus {
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: azure;
  left: 15px;
  margin-bottom: -2px;
  z-index: 30;
}
.result-rhombus::after {
  content: '';
  position: absolute;
  left: -4px;
  top: 4px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: azure;
}

.midpoint {
  opacity: 0.5;
  border: 1px solid transparent;
  width: 114px; 
  background-image:  repeating-linear-gradient(76deg, #333333, #333333 7px, transparent 7px, transparent 7px, #333333 7px), repeating-linear-gradient(256deg, #333333, #333333 7px, transparent 7px, transparent 12px, #333333 12px);
background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
position: absolute; 
  bottom: 50%;
  z-index: 2;
}

svg {
  width: 34px;
  height: 34px;
}
