@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;1,600&family=Courier+Prime:wght@700&display=swap');

@import url('//db.onlinewebfonts.com/c/6cec834e2e8f2e4206567ed75e1281d4?family=Brandon+Grotesque+Bold');

@import url('https://db.onlinewebfonts.com/c/d46e3999fb41c5f4f83bf5364715b2e7?family=Brandon+Grotesque+Light');
@font-face {font-family: "Brandon Grotesque Light";
    src: url("http://db.onlinewebfonts.com/t/d46e3999fb41c5f4f83bf5364715b2e7.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/d46e3999fb41c5f4f83bf5364715b2e7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/d46e3999fb41c5f4f83bf5364715b2e7.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/d46e3999fb41c5f4f83bf5364715b2e7.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/d46e3999fb41c5f4f83bf5364715b2e7.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/d46e3999fb41c5f4f83bf5364715b2e7.svg#Brandon Grotesque Light") format("svg"); /* iOS 4.1- */
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.main-container-all-scales {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; 
  width: 100px;
  height: 650px;
  margin-top: 20px;
}

.scale-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  position: relative;
  width:40%;
  height: 500px;
  z-index: 30;
  background-color:#E3E3E3;
  border-radius: 45px;
}

.feeling-description,
.title-feeling {
  font-family: 'Brandon Grotesque Light Italic, Asap Condensed', sans-serif;;
  font-size: 8px;
  text-align: center;
}

.feeling-description {
    height: 30px;
}

.result-score-line {
  width: 30px;
  height: 30px;
  border-radius:50%;
  background: azure;
  z-index: -1;
  font-size: 12px;
}

.feeling-name {
  font-family: 'Brandon Grotesque Bold';
  font-size: 14px;
  font-weight: 800;
}


.benchmarkcontainer {
 display: flex;
}

.benchmark,
.benchmark-legend {
  width: 50px;
  border-bottom: 1px dashed #B6B6B6;
  margin-left:25px;
}

.benchmark-legend {
  width: 20px;
  
}


.benchmarkValue{
  margin-top: 2px;
}


.midpoint {
  border: 1px solid black;
  width: 200px;
  position: absolute;
  bottom: 50%;
}

svg {
  width: 34px;
  height: 34px;
}

.legend {
  display: flex;
  justify-content: flex-end;
  width: 780px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Asap Condensed Regular';
  font-size: 14px;
}

.legend-container {
  display: flex;
  margin-top: 2px;
  align-items: center;

}

.midpoint-legend {
  width: 60px;
}

.result-score-line-legend {
  width: 46px;
  margin-left: -2px;
}




.description-legend {
  margin-left: 10px;
  margin-top: -2px;
}

.result-score-legend {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  font-weight: 600;
  color: black;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
  font-size: 10px;
  margin-bottom: -5px;
  border-radius:50%;
    z-index: 20;
  

}

.body {
  display: flex;
}


.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  /* padding: 5px; */
  margin: 0 5px;
  justify-content: center;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
  position: relative;
  margin-right: 16px;
}

.plus-sign,
.minus-sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 4px;
  background-color: #ffffff;
}

.plus-sign::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 18px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  width: 2px;
  height: 80%;
  background-color: #E3E3E3;
  margin-left: 80px;
}


.fifty {
  font-size: 12px;
  position: absolute;
  left: 50px;
  margin: 6px 0;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.texttext {
  margin-bottom: 10px;
  position: absolute;

}